<h1 class="mb-4">Dashboard</h1>

<div class="row">

    <div class="col-md-4">
        <div class="card text-white bg-success mb-3">
            <div class="card-body">
                <h5 class="card-title">Total Inspections</h5>
                <h2>@ViewBag.Total</h2>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card text-white bg-danger mb-3">
            <div class="card-body">
                <h5 class="card-title">Failed Inspections</h5>
                <h2>@ViewBag.Failed</h2>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card text-dark bg-warning mb-3">
            <div class="card-body">
                <h5 class="card-title">Overdue FollowUps</h5>
                <h2>@ViewBag.Overdue</h2>
            </div>
        </div>
    </div>

</div>